.header
	.header__wrapper
		.header__logo
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 38.08"><defs><style>.cls-1{fill:#fcfcfc;}</style></defs><title>Ресурс 2</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M12.69,6.92V20.47s-.2.39-.34.61a16.48,16.48,0,0,1-1.28,1.85c-1.24,1.56-2.5,2.45-3.57,2.45s-2.33-.89-3.57-2.45a16.48,16.48,0,0,1-1.28-1.85c-.14-.22-.34-.61-.34-.61V6.92ZM0,5.77v15a1.17,1.17,0,0,0,.12.52c.1.2.29.54.55,1a18.48,18.48,0,0,0,1.46,2.11c1.64,2.06,3.41,3.32,5.37,3.32s3.73-1.26,5.37-3.32a18.48,18.48,0,0,0,1.46-2.11c.26-.43.45-.77.55-1a1.17,1.17,0,0,0,.12-.52v-15a1.15,1.15,0,0,0-1.15-1.15H1.15A1.15,1.15,0,0,0,0,5.77Z"/><path class="cls-1" d="M8.65,13.85h4.62a1.15,1.15,0,0,1,0,2.3H8.65V26a1.15,1.15,0,1,1-2.3,0V16.15H1.73a1.15,1.15,0,1,1,0-2.3H6.35V6.35a1.15,1.15,0,1,1,2.3,0v7.5Z"/><path class="cls-1" d="M8.65,1.15a1.15,1.15,0,0,0-2.3,0V2.31a1.15,1.15,0,0,0,2.3,0Z"/><path class="cls-1" d="M8.65,30a1.15,1.15,0,0,0-2.3,0v6.92a1.15,1.15,0,1,0,2.3,0Z"/></g></g></svg>
		.header__menu
			.header__menu-item
				a(href="#" target="_blank") Объекты
			.header__menu-item
				a(href="#" target="_blank") Компания
			.header__menu-item
				a(href="#" target="_blank") Как купить
			.header__menu-item
				a(href="#" target="_blank") Агентам
			.header__menu-item
				a(href="#" target="_blank") Регионам
			.header__menu-item
				a(href="#" target="_blank") Акции
			.header__menu-item
				a(href="#" target="_blank") Контакты
		.header__contacts
			a(href="tel:8888888898").header__number 8 888 888 88 98
			span Звони скорее!
		.header__burger-btn
			.header__burger-line
			.header__burger-line
			.header__burger-line
			.header__burger-cross X