.main
	.main__wrapper
		.flat
			.flat__sort-wrapper
				.flat__sort-title Сортировать по:
				.flat__sort(data-sort="price") Цене
					.flat__inside-button
				.flat__sort(data-sort="rooms") Комнатам 
					.flat__inside-button
			.flat__wrapper
			.main__more-button
				|Показать еще 20
			.main__scroll-button
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 876 876"><title>up-button</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M438,0C196.1,0,0,196.1,0,438S196.1,876,438,876,876,679.9,876,438,679.9,0,438,0ZM634.17,534.57a24,24,0,0,1-33.94,0L438,372.34,275.77,534.57a24,24,0,0,1-33.94-33.94L421,321.43a24,24,0,0,1,33.94,0l179.2,179.2a24,24,0,0,1,0,33.94Z"/></g></g></svg>

		.footer
			.footer__wrapper
				.footer__title Успей купить!
					.footer__subtitle Подпишись и успей словить все акции
				.footer__subscribe-column
					.footer__email-placeholder
						input(class="footer__email-input" type="email" name="email" placeholder="E-mail")
						<span id="alert-1">Введите валидный email</span>
						<span id="alert-2">Это поле не может быть пустым</span>
						.footer__checkbox
							input(type="checkbox" name="subscribe-option" id="subscribe-option")
							label(for="subscribe-option") подписаться на новости
					.footer__subscribe
						input(type="submit" id="submit" value="Подписаться")