.main
	.main__wrapper
		//- .main__title Найдено 2 квартир
		.flat
			.flat__sort-wrapper
				.flat__sort-title Сортировать по:
				.flat__sort(data-sort="price") Цене
					.flat__inside-button
				.flat__sort(data-sort="rooms") Комнатам 
					.flat__inside-button
			.flat__wrapper
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/1-flat.png")
				//- 	.flat__title Студия №44
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style без <br> отделки
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 1 900 000 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
				//- .flat__item-wrapper._free
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/2-flat.png")
				//- 	.flat__title Однокомнатная №666
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style без <br> отделки
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 1 666 666 руб.
				//- 	.flat__status-bar._free
				//- 		|Свободно
				//- .flat__item-wrapper._sold
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/3-flat.png")
				//- 	.flat__title Двухкомнатная №567
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style черновая <br> отделка
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 5 900 000 руб.
				//- 	.flat__status-bar._sold
				//- 		|Продано
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/4-flat.png")
				//- 	.flat__title Трехкомнатная №45
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style без <br> отделки
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/14
				//- 			span этаж
				//- 	.flat__price 12 900 000 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/5-flat.png")
				//- 	.flat__title Студия №25
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style черновая <br> отделка
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 1 900 000 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/6-flat.png")
				//- 	.flat__title Четырехкомнатная №259
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style черновая <br> отделка
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 23 900 000 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
				//- .flat__item-wrapper._free
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/7-flat.png")
				//- 	.flat__title Студия №44
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style без <br> отделки
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 1 900 000 руб.
				//- 	.flat__status-bar._free
				//- 		|Свободно
				//- .flat__item-wrapper._free
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/8-flat.png")
				//- 	.flat__title Однокомнатная №56
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style черновая <br> отделка
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 5 666 666 руб.
				//- 	.flat__status-bar._free
				//- 		|Свободно
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/10flat.png")
				//- 	.flat__title Трехкомнтатная №46
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style черновая <br> отделка
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 5 696 664 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/10-flat.png")
				//- 	.flat__title Однокомнатная №2
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style черновая <br> отделка
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 1 200 000 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/11-flat.png")
				//- 	.flat__title Студия №12
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style черновая <br> отделка
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 1 500 500 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
				//- .flat__item-wrapper._booked
				//- 	.flat__star
				//- 		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 804.88 764.96"><title>star</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M513.26,269.25c385,17,369-31,68,209,102,370,142,341-178,130-323,213-281,244-179-130-302-241-318-192,69-209C427.26-89.75,378.26-89.75,513.26,269.25Z"/></g></g></svg>
				//- 	.flat__item-img
				//- 		img(src="./static/images/12-flat.png")
				//- 	.flat__title Однокомнатная №8
				//- 	.flat__subtitle
				//- 		.flat__subtitle-style без <br> отделки
				//- 		.flat__subtitle-digits 28<sup>2</sup>
				//- 			span площадь
				//- 		.flat__subtitle-digits 12/4
				//- 			span этаж
				//- 	.flat__price 6 200 000 руб.
				//- 	.flat__status-bar._booked
				//- 		|Забронировано
			.main__more-button
				|Показать еще 20
			.main__scroll-button
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 876 876"><title>up-button</title><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M438,0C196.1,0,0,196.1,0,438S196.1,876,438,876,876,679.9,876,438,679.9,0,438,0ZM634.17,534.57a24,24,0,0,1-33.94,0L438,372.34,275.77,534.57a24,24,0,0,1-33.94-33.94L421,321.43a24,24,0,0,1,33.94,0l179.2,179.2a24,24,0,0,1,0,33.94Z"/></g></g></svg>

		.footer
			.footer__wrapper
				.footer__title Успей купить!
					.footer__subtitle Подпишись и успей словить все акции
				.footer__subscribe-column
					.footer__email-placeholder
						input(class="footer__email-input" type="email" name="email" placeholder="E-mail")
						<span id="alert-1">Введите валидный email</span>
						<span id="alert-2">Это поле не может быть пустым</span>
						.footer__checkbox
							input(type="checkbox" name="subscribe-option" id="subscribe-option")
							label(for="subscribe-option") подписаться на новости
					.footer__subscribe
						input(type="submit" id="submit" value="Подписаться")